<div class="container parentContainer">
  <div id="divWeatherMain"> 
  
    <ng-select [items]="cityArray" [virtualScroll]="true" [(ngModel)]="cityName" (change)="onChamge()"></ng-select>
    <div class="weatherWidgetRow" style="font-size: 40px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 30px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>

    <div class="weatherWidgetRow" style="font-size: 35px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 30px;">Humidity: {{WeatherData.main.humidity}}%</div>
  </div>
</div>